<!-- Wappler include head-page="layouts/main" fontawesome_5="cdn" bootstrap5="local" is="dmx-app" id="aboutus" appConnect="local" -->
<meta name="ac:route" content="/about-us">
<h1 class="text-center">About Us</h1>
<p class="text-justify px-2 px-sm-5">Hello Welcome to Clowkpro Services Pvt Ltd doing business as Gravitto as a
    product ( "Gravitto" , We, Us or Our). We are a startup company based on
    online food delivery services launched in 2022. Our technology platform
    connects customers, restaurant partners and delivery partners where we
    serve their multiple needs. Our platform is used by customers to search and
    discover restaurants, read and write customer generated reviews, order food
    delivery, view and upload photos. We also provide industry specific marketing
    tools through which our restaurant partners can engage and acquire
    customers to grow their business and also provide an efficient and reliable last
    mile delivery service. We also provide our delivery partners with transparent
    and flexible earning opportunities. Honesty and efficiency is our only motto.
    Everyone associated with our company is like our family and we share mutual
    love and respect for everyone. We believe in "Karma hi Dharma". We thank
    everyone for helping us in achieving our goal.</p>
<h5 class=" px-2 px-sm-5"></h5>
<p class="text-justify px-2 px-sm-5"></p>
<h5 class="text-center px-2 px-sm-5">***</h5>