<!-- Wappler include head-page="layouts/main" fontawesome_5="cdn" bootstrap5="local" is="dmx-app" id="aboutus" appConnect="local" -->
<meta name="ac:route" content="/about-us">
<h1 class="text-center">About Us</h1>
<p class="text-justify px-2 px-sm-5">We are a startup company based on online food delivery service. Launched in 2022, Our technology platform connects customers, restaurant partners and delivery partners, serving their multiple needs. Customers use our platform to search and discover restaurants, read and write customer generated reviews and view and upload photos, order food delivery, book a table and make payments while dining-out at restaurants. On the other hand, we provide restaurant partners with industry-specific marketing tools which enable them to engage and acquire customers to grow their business while also providing a reliable and efficient last mile delivery service. We also provide our delivery partners with transparent and flexible earning opportunities.</p>
<h5 class=" px-2 px-sm-5"></h5>
<p class="text-justify px-2 px-sm-5"></p>
<h5 class="text-center px-2 px-sm-5">***</h5>