<!-- Wappler include head-page="layouts/main" fontawesome_5="cdn" bootstrap5="local" is="dmx-app" id="cart" appConnect="local" components="{dmxBootstrap5Navigation:{},dmxFormatter:{}}" -->
<meta name="ac:route" content="/cart">
<dmx-serverconnect id="scCartItems" url="/api/Cart/CartItems"></dmx-serverconnect>
<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-section set-bg" data-setbg="assets/img/breadcrumb.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb__text">
                    <h2>GravItTo Cart</h2>
                    <div class="breadcrumb__option">
                        <a href="/">Home</a>
                        <span>Your Cart</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->

<!-- Shoping Cart Section Begin -->

<div class="container-fluid">
    <div class="row mt-5 mx-0">
        <!-- left side div -->
        <div class="col-md-8 col-12 shadow">
            <h2 class="py-4 font-weight-bold">Cart ({{scDashboardInfo.data.GetCartItems.Cart_Items}} items)</h2>
            <div class="card p-2" dmx-repeat:repeatcart="content.scCartItems.data.GetCartItems.data">
                <div class="row">
                    <!-- cart images div -->
                    <div class="col-md-3 col-12">
                        <img dmx-bind:src="'https://secure.gravitto.com'+content.scCartItems.data.GetCartItems.data[$index].prod_img1" class="img-fluid" dmx-bind:alt="content.scCartItems.data.GetCartItems.data[$index].prod_name_en">
                        <!-- quantity inc dec -->
                        <ul class="pagination set_quantity mt-3 px-2">
                            <li class="page-item">
                                <button class="page-link " onclick="decreaseNumber('textbox','itemval')">
                                    <i class="fas fa-minus"></i> </button>
                            </li>
                            <li class="page-item">
                                <input type="text" name="" class="page-link" value="1" id="textbox">
                            </li>
                            <li class="page-item">
                                <button class="page-link" onclick="increaseNumber('textbox','itemval')">
                                    <i class="fas fa-plus"></i></button>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-5 col-12">
                        <!-- product name  -->
                        <h4 class="product_name">{{content.scCartItems.data.GetCartItems.data[$index].prod_name_en}}</h4>
                        <p class="mb-0 text-muted">{{content.scCartItems.data.GetCartItems.data[$index].prod_desc_en}}</p>
                        <p class="mb-0 text-muted">Seller:</p>
                        <p class="my-2">
                            <span class="text-muted " style="text-decoration: line-through;">{{content.scCartItems.data.GetCartItems.data[$index].mrp}}</span>
                            <span class="px-2 price_money" id="itemval">{{content.scCartItems.data.GetCartItems.data[$index].price}}</span>
                            <span class="px-2 text-success" dmx-show="content.scCartItems.data.GetCartItems.data[$index].mrp>content.scCartItems.data.GetCartItems.data[$index].price">{{100-((content.scCartItems.data.GetCartItems.data.$index.price * 100) / content.scCartItems.data.GetCartItems.data.$index.mrp)}}% off</span>

                        </p>
                        <!-- //remover move and price -->
                        <div class="row">
                            <div class="col-6">
                                <p style="font-size: 13px !important;">
                                    <i class="fas fa-trash-alt mr-2"></i>Remove Item
                                </p>
                            </div>
                            <div class="col-6">
                                <p style="font-size: 13px !important;">
                                    <i class="fas fa-heart mr-2"></i>Move to Wish List
                                </p>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-4 col-12">
                        <span>Delivery by Fri Sep 2</span>
                    </div>
                </div>
            </div>
            <div class="row mx-0" dmx-show="content.scCartItems.data.GetCartItems.data.length==0">
                <h5 class="text-center text-muted w-100">Empty Wish-List!</h5>
            </div>
        </div>
        <!-- right side div -->
        <div class="col-md-4 col-12 mx-auto mt-lg-0 mt-md-5">
            <div class="right_side p-3 shadow bg-white">
                <h2 class="product_name mb-5">The Total Amount Of</h2>
                <div class="price_indiv d-flex justify-content-between">
                    <p>Amount</p>
                    <p><i class=" fa fa-rupee"></i><span id="product_total_amt">0.00</span></p>
                </div>
                <div class="price_indiv d-flex justify-content-between mx-0">
                    <p>Shipping Charge</p>
                    <p><i class=" fa fa-rupee"></i><span id="shipping_charge">50.0</span></p>
                </div>
                <hr />
                <div class="total-amt d-flex justify-content-between font-weight-bold">
                    <p>The total amount of (including VAT)</p>
                    <p><i class=" fa fa-rupee"></i><span id="total_cart_amt">0.00</span></p>
                </div>
                <a href="checkout"><button class="btn1 text-uppercase">Checkout</button></a>
            </div>
            <!-- discount code part -->
            <div class="discount_code mt-3 shadow">
                <div class="card">
                    <div class="card-body">
                        Add a discount code (optional)
                        <div class="mt-3">
                            <input type="text" name="" id="discount_code1" class="form-control font-weight-bold" placeholder="Enter the discount code">
                            <small id="error_trw" class="text-dark mt-3"></small>
                        </div>
                        <button class="btn1 btn-sm mt-3" onclick="discount_code()">Apply</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>

<script type="text/javascript">
    var product_total_amt = document.getElementById('product_total_amt');
    var shipping_charge = document.getElementById('shipping_charge');
    var total_cart_amt = document.getElementById('total_cart_amt');
    var discountCode = document.getElementById('discount_code1');
    const decreaseNumber = (incdec, itemprice) => {
    var itemval = document.getElementById(incdec);
    var itemprice = document.getElementById(itemprice);
    console.log( itemprice.innerHTML);
    // console.log(itemval.value);
    if(itemval.value <= 1){
    itemval.value = 1;
    }else{
    itemval.value = parseInt(itemval.value) - 1;
    itemval.style.background = '#fff';
    itemval.style.color = '#000';
    itemprice.innerHTML  = parseInt(itemprice.innerHTML) - 15;
    product_total_amt.innerHTML  = parseInt(product_total_amt.innerHTML) - 15;
    total_cart_amt.innerHTML  = parseInt(product_total_amt.innerHTML) + parseInt(shipping_charge.innerHTML);
    }
    }
    const increaseNumber = (incdec, itemprice) => {
    var itemval = document.getElementById(incdec);
    var itemprice = document.getElementById(itemprice);
    // console.log(itemval.value);
    if(itemval.value >= 5){
    itemval.value = 5;
    itemval.style.background ='red';
    itemval.style.color = '#fff';
    }else{
    itemval.value = parseInt(itemval.value) + 1;
    itemprice.innerHTML  = parseInt(itemprice.innerHTML ) + 15;
    product_total_amt.innerHTML  = parseInt(product_total_amt.innerHTML) + 15;
    total_cart_amt.innerHTML  = parseInt(product_total_amt.innerHTML) + parseInt(shipping_charge.innerHTML);
    }
    }
    const  discount_code = () => {
    let totalamtcurr = parseInt(total_cart_amt.innerHTML);
    let error_trw = document.getElementById('error_trw');
    if(discountCode.value === '123@abcd'){
    let newtotalamt = totalamtcurr - 15;
    total_cart_amt.innerHTML = newtotalamt;
    error_trw.innerHTML = "Hurray! code is valid";
    }else{
    error_trw.innerHTML = "Try Again! Valid code ";
    }
    }
</script>

<!-- Shoping Cart Section End -->