
                            <!-- <li><a href="#">Pages</a>
                                <ul class="header__menu__dropdown">
                                    <li><a href="shop-details">product Details</a></li>
                                    <li><a href="cart">Shoping Cart</a></li>
                                    <li><a href="checkout">Check Out</a></li>
                                </ul>
                            </li> -->
							
							
							<!-- <li><a href="#">Pages</a>
                    <ul class="header__menu__dropdown">
                        <li><a href="shop-details">Shop Details</a></li>
                        <li><a href="cart">Shoping Cart</a></li>
                        <li><a href="checkout">Check Out</a></li>
                        <li><a href="blog-details">Blog Details</a></li>
                    </ul>
                </li> -->
				
				
				<!-- The Modal -->
                                <!-- <div id="myModal" class="modal">
                                    <span class="close">&times;</span>
                                    <div class="wrapper">
                                        <div class="title-text">
                                            <div class="title login">Login</div>
                                            <div class="title signup">Signup</div>
                                        </div>
                                        <div class="form-container">
                                            <div class="slide-controls">
                                                <input type="radio" name="slide" id="login" checked>
                                                <input type="radio" name="slide" id="signup">
                                                <label for="login" class="slide login">Login</label>
                                                <label for="signup" class="slide signup">Signup</label>
                                                <div class="slider-tab"></div>
                                            </div>
                                            <div class="form-inner">
                                                <form class="login" id="scformSignin" method="post" is="dmx-serverconnect-form" action="/api/Users/SignIn" dmx-generator="bootstrap5" dmx-form-type="horizontal" dmx-on:success="notifMain.success(scformSignin.data);scformSignin.reset();scDashboardInfo.load(true)" dmx-on:forbidden="notifMain.warning(lastError.response)" dmx-on:error="notifMain.warning(lastError.response)" dmx-on:unauthorized="notifMain.warning(lastError.response)" dmx-on:invalid="notifMain.warning(lastError.response)">
                                                    <div class="field">
                                                        <input type="number" name="Mobile" placeholder="10 digit Mobile No." required="">
                                                    </div>
                                                    <div class="field">
                                                        <input type="password" name="Password" placeholder="Password" required="">
                                                    </div>
                                                    <div class="pass-link"><a href="#">Forgot password?</a></div>
                                                    <div class="field btn">
                                                        <div class="btn-layer"></div>
                                                        <input type="submit" value="Login">
                                                    </div>
                                                    <div class="signup-link">Not a member? <a href="">Signup now</a></div>
                                                </form>
                                                <form class="signup" id="scformSignup" method="post" is="dmx-serverconnect-form" action="/api/Users/SignUp" dmx-generator="bootstrap5" dmx-form-type="horizontal" dmx-on:success="notifMain.success(scformSignup.data);scformSignup.reset();scDashboardInfo.load(true)" dmx-on:forbidden="notifMain.warning(lastError.response)" dmx-on:error="notifMain.warning(lastError.response)" dmx-on:unauthorized="notifMain.warning(lastError.response)" dmx-on:invalid="notifMain.warning(lastError.response)">
                                                    <div class="field">
                                                        <input type="number" id="Mobile" name="Mobile" placeholder="10 digit Mobile No." required="">
                                                    </div>
                                                    <div class="field row">
                                                        <label class="col-8">Is this your whatsapp no?</label>
                                                        <select class="col-4" name="is_whatsapp" id="is_whatsapp" required="">
                                                            <option value="Yes">Yes</option>
                                                            <option value="No">No</option>
                                                        </select>
                                                    </div>
                                                    <div class="row mx-0">
                                                        <div class="field col-6 px-0">
                                                            <input type="text" id="FName" name="FName" placeholder="First Name" required="">
                                                        </div>
                                                        <div class="field col-6 px-0">
                                                            <input type="text" id="LName" name="LName" placeholder="Last Name" required="">
                                                        </div>
                                                    </div>
                                                    <div class="field">
                                                        <input type="text" id="EmailId" name="EmailId" placeholder="Email Id (optional)">
                                                    </div>
                                                    <div class="row mx-0">
                                                        <div class="field col-5 px-0">
                                                            <input type="number" id="PIN" name="PIN" placeholder="Area PIN">
                                                        </div>
                                                        <div class="field col-7 px-0">
                                                            <input type="text" id="District" name="District" placeholder="District Name">
                                                        </div>
                                                    </div>
                                                    <div class="field">
                                                        <textarea type="text" class="w-100" id="Address" name="Address" placeholder="Shipping Address"></textarea>
                                                    </div>
                                                    <div class="field btn">
                                                        <div class="btn-layer"></div>
                                                        <input type="submit" value="Signup">
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div> -->
