<!-- Wappler include head-page="layouts/main" fontawesome_5="cdn" bootstrap5="local" is="dmx-app" id="myorder" appConnect="local" -->
<meta name="ac:route" content="/my-order">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
<link rel="stylesheet" href="/assets/css/font-awesome.min.css" type="text/css">
<link rel="stylesheet" href="/assets/css/elegant-icons.css" type="text/css">
<link rel="stylesheet" href="/assets/css/nice-select.css" type="text/css">
<link rel="stylesheet" href="/assets/css/jquery-ui.min.css" type="text/css">
<link rel="stylesheet" href="/assets/css/owl.carousel.min.css" type="text/css">
<link rel="stylesheet" href="/assets/css/slicknav.min.css" type="text/css">
<link rel="stylesheet" href="/assets/css/style.css" type="text/css">
<link rel="stylesheet" href="/assets/css/demo.css" type="text/css">
<link rel="JavaScript" href="/assets/text/main.js" type="text/js">
<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-section set-bg" data-setbg="/assets/img/breadcrumb.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb__text">
                    <h2>My Order</h2>
                    <div class="breadcrumb__option">
                        <a href="/">Home</a>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<main style="background-color: lightgray;">

    <div class="row mx-4">
        <span class="ab1">
            <a href="/">Home <i class="fa fa-angle-right"></i></a>
            <a href="myaccount">My Acoount <i class="fa fa-angle-right"></i></a>
            <a class="disabled" href="#"> My Order </a>
        </span>
        <div class="col-lg-3">
            <div class="column1 py-3">
                <input type="checkbox"><span> on the way</span><br>
                <input type="checkbox"><span> Delivered</span><br>
                <input type="checkbox"><span> Cancelled</span><br>
                <input type="checkbox"><span>
                    Returned</span><br>
            </div>
        </div>
        <div class="col-lg-9 px-0">
            <input type="search" id="myInput1" onkeyup="myFunction()" style="width: 85% !important;" placeholder="Search your product.." title="Type in a name">
            <button type="submit1" class="site-btn11">SEARCH</button>
            <div class="col-lg-3"></div>
            <div class="card card">
                <div class="card-body">
                    <div class="media">
                        <div class="sq align-self-center "> <img class="img-fluid my-auto align-self-center mr-2 mr-md-4 pl-0 p-0 m-0" src="/assets/img/cart/cart-1.jpg" width="135" height="135" /> </div>
                        <div class="col lg-1">
                            <h6 class="mb-0">Paneer</h6>
                            <smal>veg -half</smal>
                        </div>
                        <div class="col-lg-2"> <small><i class="fa fa-rupee"></i>300</small></div>
                        <div class="col -lg-5">
                            <h6 class="mb-0">Out for Deliverey</h6>
                            <small>Your item </small>
                            <br>
                            <a href="#"><i class="fa fa-star"></i> Rate [&] Review </a>
                        </div>
                        <a href="product.html"><i class="fa-solid fa-angle-right"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-3"></div>
            <div class="row">
                <div class="col">
                    <div class="card card-2">
                        <div class="card-body">
                            <div class="media">
                                <div class="sq align-self-center ">
                                    <img class="img-fluid my-auto align-self-center mr-2 mr-md-4 pl-0 p-0 m-0" src="/assets/img/cart/cart-1.jpg" width="135" height="135" />
                                </div>
                                <div class="col lg-1">
                                    <h6 class="mb">Paneer</h6>
                                    <smal>veg -half</smal>
                                </div>
                                <div class="col-lg-2"> <small><i class="fa fa-rupee"></i>300</small></div>
                                <div class="col -lg-5">
                                    <h6 class="mb-0">Out for Deliverey</h6>
                                    <small>Your item </small>
                                    <br>
                                    <a href="#"><i class="fa fa-star"></i> Rate [&] Review </a>
                                </div>
                                <a href="product.html"><i class="fa-solid fa-angle-right"></i></a>

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3"></div>
                    <div class="row">
                        <div class="col">
                            <div class="card card-2">
                                <div class="card-body">
                                    <div class="media">
                                        <div class="sq align-self-center "> <img class="img-fluid my-auto align-self-center mr-2 mr-md-4 pl-0 p-0 m-0" src="/assets/img/cart/cart-1.jpg" width="135" height="135" /> </div>
                                        <div class="col lg-1">
                                            <h6 class="mb-">Paneer</h6>
                                            <smal>veg -half</smal>
                                        </div>
                                        <div class="col-lg-2"> <small><i class="fa fa-rupee"></i>300</small></div>
                                        <div class="col -lg-5">
                                            <h6 class="mb-0">Out for Deliverey</h6>
                                            <small>Your item </small>
                                            <br>
                                            <a href="#"><i class="fa fa-star"></i> Rate [&] Review </a>
                                        </div>
                                        <a href="product.html"><i class="fa-solid fa-angle-right"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</main>
<!---my order pagebend-->