<!-- Wappler include head-page="layouts/main" -->
<meta name="ac:route" content="/product-details">
<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-section set-bg" data-setbg="assets/img/breadcrumb.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb__text">
                    <h2>Product Details</h2>
                    <div class="breadcrumb__option">
                        <a href="./index.html">Home</a>

                        <span>Restaurant Package</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="product-details spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="product__details__pic">
                    <img class="drift-demo-trigger" data-zoom="assets/img/product/details/product-details-2.jpg?w=1200&amp;ch=DPR&amp;dpr=2" src="assets/img/product/details/product-details-2.jpg?w=400&amp;ch=DPR&amp;dpr=2" />
                </div>
                <div class="product__details__pic__slider owl-carousel mt-3">
                    <img data-imgbigurl="assets/img/product/details/product-details-2.jpg" src="assets/img/product/details/thumb-1.jpg" alt="">
                    <img data-imgbigurl="assets/img/product/details/product-details-3.jpg" src="assets/img/product/details/thumb-2.jpg" alt="">
                    <img data-imgbigurl="assets/img/product/details/product-details-5.jpg" src="assets/img/product/details/thumb-3.jpg" alt="">
                    <img data-imgbigurl="assets/img/product/details/product-details-4.jpg" src="assets/img/product/details/thumb-4.jpg" alt="">
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="detail">
                    <div class="product__details__text">
                        <h3>Noodles</h3>
                        <div class="product__details__rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-half-o"></i>
                            <span>(18 reviews)</span>
                        </div>
                        <div class="product__details__price"><i class="fa fa-rupee"></i>50.00</div>
                        <p>Made of wheat flour, salt, and water, the long and curly noodles are made from wheat and egg. The noodles are dried in the form of a brick. Ensure that you keep the ramen noodles refrigerated until you cook them. The ease of preparing ramen noodles within minutes by just boiling makes it an ideal on-the-go meal. These noodles can either be relished in soups or eaten raw with salads.</p>
                        <div class="product__details__quantity">
                            <div class="quantity">
                                <div class="pro-qty">
                                    <input type="text" value="1">
                                </div>
                            </div>
                        </div>
                        <a href="#" class="primary-btn">ADD TO CARD</a>
                        <a href="#" class="heart-icon"><span class="icon_heart_alt"></span></a>
                        <ul>
                            <li><b>Availability</b> <span>In Stock</span></li>
                            <li><b>Shipping</b> <span>01 day shipping. <samp>Free pickup today</samp></span></li>
                            <li><b>Share on</b>
                                <div class="share">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-instagram"></i></a>
                                    <a href="#"><i class="fa fa-linkedin"></i></a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-12 col-md-6">
        <div class="product__details__tab">
            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#tabs-1" role="tab" aria-selected="true">Description</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#tabs-2" role="tab" aria-selected="false">Information</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#tabs-3" role="tab" aria-selected="false">Reviews <span>(1)</span></a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="tabs-1" role="tabpanel">
                    <div class="product__details__tab__desc">
                        <h6>Products Infomation</h6>
                        <p>Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui.
                            Pellentesque in ipsum id orci porta dapibus. Proin eget tortor risus. Vivamus
                            suscipit tortor eget felis porttitor volutpat. Vestibulum ac diam sit amet quam
                            vehicula elementum sed sit amet dui. Donec rutrum congue leo eget malesuada.
                            Vivamus suscipit tortor eget felis porttitor volutpat. Curabitur arcu erat,
                            accumsan id imperdiet et, porttitor at sem. Praesent sapien massa, convallis a
                            pellentesque nec, egestas non nisi. Vestibulum ac diam sit amet quam vehicula
                            elementum sed sit amet dui. Vestibulum ante ipsum primis in faucibus orci luctus
                            et ultrices posuere cubilia Curae; Donec velit neque, auctor sit amet aliquam
                            vel, ullamcorper sit amet ligula. Proin eget tortor risus.</p>
                        <p>Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Lorem
                            ipsum dolor sit amet, consectetur adipiscing elit. Mauris blandit aliquet
                            elit, eget tincidunt nibh pulvinar a. Cras ultricies ligula sed magna dictum
                            porta. Cras ultricies ligula sed magna dictum porta. Sed porttitor lectus
                            nibh. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a.
                            Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Sed
                            porttitor lectus nibh. Vestibulum ac diam sit amet quam vehicula elementum
                            sed sit amet dui. Proin eget tortor risus.</p>
                    </div>
                </div>
                <div class="tab-pane" id="tabs-2" role="tabpanel">
                    <div class="product__details__tab__desc">
                        <h6>Products Infomation</h6>
                        <p>Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui.
                            Pellentesque in ipsum id orci porta dapibus. Proin eget tortor risus.
                            Vivamus suscipit tortor eget felis porttitor volutpat. Vestibulum ac diam
                            sit amet quam vehicula elementum sed sit amet dui. Donec rutrum congue leo
                            eget malesuada. Vivamus suscipit tortor eget felis porttitor volutpat.
                            Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Praesent
                            sapien massa, convallis a pellentesque nec, egestas non nisi. Vestibulum ac
                            diam sit amet quam vehicula elementum sed sit amet dui. Vestibulum ante
                            ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;
                            Donec velit neque, auctor sit amet aliquam vel, ullamcorper sit amet ligula.
                            Proin eget tortor risus.</p>
                        <p>Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Lorem
                            ipsum dolor sit amet, consectetur adipiscing elit. Mauris blandit aliquet
                            elit, eget tincidunt nibh pulvinar a. Cras ultricies ligula sed magna dictum
                            porta. Cras ultricies ligula sed magna dictum porta. Sed porttitor lectus
                            nibh. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a.</p>
                    </div>
                </div>
                <div class="tab-pane" id="tabs-3" role="tabpanel">
                    <h6 class="ab">Products Infomation</h6>
                    <div class="product__details__tab__desc row">

                        <input type="radio" name="rate" id="star-1">
                        <input type="radio" name="rate" id="star-2">
                        <input type="radio" name="rate" id="star-3">
                        <input type="radio" name="rate" id="star-4">
                        <input type="radio" name="rate" id="star-5">
                        <div class="content col-3 ">
                            <!--  <div class="outer">
                                <div class="emojis">
                                  <li class="slideImg"><img src="emojis/emoji-1.png" alt=""></li>
                                  <li><img src="emojis/emoji-2.png" alt=""></li>
                                  <li><img src="emojis/emoji-3.png" alt=""></li>
                                  <li><img src="emojis/emoji-4.png" alt=""></li>
                                  <li><img src="emojis/emoji-5.png" alt=""></li>
                                </div>
                              </div>-->
                            <div class="stars float-right">
                                <label for="star-1" class="star-1 fas fa-star"></label>
                                <label for="star-2" class="star-2 fas fa-star"></label>
                                <label for="star-3" class="star-3 fas fa-star"></label>
                                <label for="star-4" class="star-4 fas fa-star"></label>
                                <label for="star-5" class="star-5 fas fa-star"></label>
                            </div>
                        </div>
                        <span class="footer1 col-1 ">
                            <span class="text"></span>
                            <span class="numb"></span>
                        </span>
                    </div>
                    <div class="card-body tab-content border-0">
                        <div class="names">
                            <input type="text" class="firstname" placeholder="First name">
                            <input type="text" class="lastname" placeholder="Last name">
                        </div>
                        <div class="input">
                            <div class="inputbox">
                                <textarea type="text" class="reviewinp" placeholder="Write a review"></textarea>

                                <div class="submitbtn">
                                    <button class="submit">Submit Review</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="testimonial-box-container">
                        <div class="testimonial-box pb-0">
                            <!--top------------------------->
                            <div class="box-top">
                                <!--profile----->
                                <div class="profile">
                                    <!--img---->
                                    <div class="profile-img">
                                        <img src="https://cdn3.iconfinder.com/data/icons/avatars-15/64/_Ninja-2-512.png" />
                                    </div>
                                    <!--name-and-username-->
                                    <div class="name-user">
                                        <strong>username</strong>
                                        <span>@email</span>
                                    </div>
                                </div>
                                <!--reviews------>
                                <div class="reviews">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="far fa-star"></i>
                                    <!--Empty star-->
                                </div>
                            </div>
                            <!--Comments---------------------------------------->
                            <div class="client-comment">
                                <p class="mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem, quaerat quis? Provident temporibus architecto asperiores nobis maiores nisi a. Quae doloribus ipsum aliquam tenetur voluptates incidunt blanditiis sed atque cumque.</p>
                            </div>
                        </div>
                    </div>
                    <div class="testimonial-box-container">
                        <div class="testimonial-box">
                            <!--top------------------------->
                            <div class="box-top">
                                <!--profile----->
                                <div class="profile">
                                    <!--img---->
                                    <div class="profile-img">
                                        <img src="https://cdn3.iconfinder.com/data/icons/avatars-15/64/_Ninja-2-512.png" />
                                    </div>
                                    <!--name-and-username-->
                                    <div class="name-user">
                                        <strong>username</strong>
                                        <span>@email</span>
                                    </div>
                                </div>
                                <!--reviews------>
                                <div class="reviews">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <!--Empty star-->
                                </div>
                            </div>

                            <!--Comments---------------------------------------->
                            <div class="client-comment">
                                <p class="mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem, quaerat quis? Provident temporibus architecto asperiores nobis maiores nisi a. Quae doloribus ipsum aliquam tenetur voluptates incidunt blanditiis sed atque cumque.</p>
                            </div>
                        </div>
                        <!--BOX-3-------------->
                        <div class="testimonial-box">
                            <!--top------------------------->
                            <div class="box-top">
                                <!--profile----->
                                <div class="profile">
                                    <!--img---->
                                    <div class="profile-img">
                                        <img src="https://cdn3.iconfinder.com/data/icons/avatars-15/64/_Ninja-2-512.png" />
                                    </div>
                                    <!--name-and-username-->
                                    <div class="name-user">
                                        <strong>username</strong>
                                        <span>@email</span>
                                    </div>
                                </div>
                                <!--reviews------>
                                <div class="reviews">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="far fa-star"></i>
                                    <!--Empty star-->
                                </div>
                            </div>
                            <!--Comments---------------------------------------->
                            <div class="client-comment">
                                <p class="mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem, quaerat quis? Provident temporibus architecto asperiores nobis maiores nisi a. Quae doloribus ipsum aliquam tenetur voluptates incidunt blanditiis sed atque cumque.</p>
                            </div>
                        </div>
                        <!--BOX-4-------------->

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Product Details Section End -->

<!-- Related Product Section Begin -->
<section class="related-product">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title related__product__title">
                    <h2>Related Product</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="product__item">
                    <div class="product__item__pic set-bg" data-setbg="assets/img/product/product-1.jpg">
                        <ul class="product__item__pic__hover">
                            <li><a href="#"><i class="fa fa-heart"></i></a></li>
                            <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                            <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                        </ul>
                    </div>
                    <div class="product__item__text">
                        <h6><a href="#">Rice Biryani </a></h6>
                        <h5><i class="fa fa-rupee"></i>30.00</h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="product__item">
                    <div class="product__item__pic set-bg" data-setbg="assets/img/product/product-2.jpg">
                        <ul class="product__item__pic__hover">
                            <li><a href="#"><i class="fa fa-heart"></i></a></li>
                            <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                            <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                        </ul>
                    </div>
                    <div class="product__item__text">
                        <h6><a href="#">Tamarind Rice</a></h6>
                        <h5><i class="fa fa-rupee"></i>30.00</h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="product__item">
                    <div class="product__item__pic set-bg" data-setbg="assets/img/product/product-3.jpg">
                        <ul class="product__item__pic__hover">
                            <li><a href="#"><i class="fa fa-heart"></i></a></li>
                            <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                            <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                        </ul>
                    </div>
                    <div class="product__item__text">
                        <h6><a href="#">Tomato Rice</a></h6>
                        <h5><i class="fa fa-rupee"></i>30.00</h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="product__item">
                    <div class="product__item__pic set-bg" data-setbg="assets/img/product/product-7.jpg">
                        <ul class="product__item__pic__hover">
                            <li><a href="#"><i class="fa fa-heart"></i></a></li>
                            <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                            <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                        </ul>
                    </div>
                    <div class="product__item__text">
                        <h6><a href="#">Vegetable Biryani</a></h6>
                        <h5><i class="fa fa-rupee"></i>30.00</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
<script src="assets/dist/Drift.js"></script>
<script>
    new Drift(document.querySelector(".drift-demo-trigger"), {
                paneContainer: document.querySelector(".detail"),
                inlinePane: 900,
                inlineOffsetY: -85,
                containInline: true,
                hoverBoundingBox: true,
              });
</script>