<!-- Wappler include head-page="layouts/main" is="dmx-app" id="productdetails" appConnect="local" -->
<meta name="ac:route" content="/product-details/:id/:prod_name">
<dmx-serverconnect id="scProdDetails" url="/api/Products/ProdDetails" dmx-param:p_id="<%= $_PARAM.id %>"></dmx-serverconnect>
<dmx-serverconnect id="scRelatedProd" url="/api/Products/RelatedProducts" dmx-param:rest_id="content.scProdDetails.data.GetProdDetails.rest_id" dmx-param:cat_id="content.scProdDetails.data.GetProdDetails.category_id" dmx-param:prod_mark_id="content.scProdDetails.data.GetProdDetails.prod_mark_id"></dmx-serverconnect>
<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-section set-bg" data-setbg="assets/img/breadcrumb.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb__text">
                    <h2>
                        <%= $_PARAM.prod_name %>
                    </h2>
                    <div class="breadcrumb__option">
                        <a href="/">Home</a>

                        <span>{{varLanguage.value=='English'?content.scProdDetails.data.GetProdDetails.shop_name_en:varLanguage.value=='Bengali'?content.scProdDetails.data.GetProdDetails.shop_name_bn:varLanguage.value=='Hindi'?content.scProdDetails.data.GetProdDetails.shop_name_hin:content.scProdDetails.data.GetProdDetails.shop_name_en}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="product-details spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="product__details__pic">
                    <img class="drift-demo-trigger" data-zoom="assets/img/product/details/product-details-2.jpg?w=1200&amp;ch=DPR&amp;dpr=2" dmx-bind:src="'https://secure.gravitto.com'+scProdDetails.data.GetProdDetails.prod_img1+'?w=400&amp;ch=DPR&amp;dpr=2'" />
                </div>
                <div class="product__details__pic__slider owl-carousel mt-3">
                    <img data-imgbigurl="assets/img/product/details/product-details-2.jpg" dmx-bind:src="'https://secure.gravitto.com'+scProdDetails.data.GetProdDetails.prod_img1" alt="">
                    <img data-imgbigurl="assets/img/product/details/product-details-3.jpg" dmx-bind:src="'https://secure.gravitto.com'+scProdDetails.data.GetProdDetails.prod_img2" alt="">
                    <img data-imgbigurl="assets/img/product/details/product-details-5.jpg" dmx-bind:src="'https://secure.gravitto.com'+scProdDetails.data.GetProdDetails.prod_img3" alt="">
                    <img data-imgbigurl="assets/img/product/details/product-details-4.jpg" dmx-bind:src="'https://secure.gravitto.com'+scProdDetails.data.GetProdDetails.prod_img4" alt="">
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="detail">
                    <div class="product__details__text">
                        <h3>{{varLanguage.value=='English'?content.scProdDetails.data.GetProdDetails.prod_name_en:varLanguage.value=='Bengali'?content.scProdDetails.data.GetProdDetails.prod_name_bn:varLanguage.value=='Hindi'?content.scProdDetails.data.GetProdDetails.prod_name_hin:content.scProdDetails.data.GetProdDetails.prod_name_en}}</h3>
                        <div class="product__details__rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-half-o"></i>
                            <span>(18 reviews)</span>
                        </div>
                        <div class="product__details__price"><i class="fa fa-rupee"></i>{{content.scProdDetails.data.GetProdDetails.price}} <span class="text-muted ab text-monospace text-line-through"><i class="fa fa-rupee"></i>{{content.scProdDetails.data.GetProdDetails.mrp}}</span></div>
                        <p>{{varLanguage.value=='English'?content.scProdDetails.data.GetProdDetails.prod_desc_en:varLanguage.value=='Bengali'?content.scProdDetails.data.GetProdDetails.prod_desc_bn:varLanguage.value=='Hindi'?content.scProdDetails.data.GetProdDetails.prod_desc_hin:content.scProdDetails.data.GetProdDetails.prod_desc_en}}</p>
                        <div class="product__details__quantity">
                            <div class="quantity">
                                <div class="pro-qty">
                                    <input type="text" value="1" id="quantity">
                                </div>
                            </div>
                        </div>
                        <a href="#" dmx-on:click="run({run:{action:`scAddtoCart.load({product_id: scProdDetails.data.GetProdDetails.prod_id, price: scProdDetails.data.GetProdDetails.price_id},true);scDashboardInfo.load();notifMain.success(((varLanguage.value==\'English\')?scProdDetails.data.GetProdDetails.prod_name_en:(varLanguage.value==\'Bengali\')?scProdDetails.data.GetProdDetails.prod_name_bn:(varLanguage.value==\'Hindi\')?scProdDetails.data.GetProdDetails.prod_name_hin:scProdDetails.data.GetProdDetails.prod_name_en)+\' added to cart\')`,name:'Flow'}})" class="primary-btn">ADD TO CARD</a>
                        <a href="#" dmx-on:click="run({run:{action:`scAddtoWishlist.load({product_id: scProdDetails.data.GetProdDetails.prod_id, price: scProdDetails.data.GetProdDetails.price_id},true);scDashboardInfo.load(true);notifMain.info(((varLanguage.value==\'English\')?scProdDetails.data.GetProdDetails.prod_name_en:(varLanguage.value==\'Bengali\')?scProdDetails.data.GetProdDetails.prod_name_bn:(varLanguage.value==\'Hindi\')?scProdDetails.data.GetProdDetails.prod_name_hin:scProdDetails.data.GetProdDetails.prod_name_en)+\' added to wish-list\')`,name:'FlowWishlist'}})" class="heart-icon"><span class="icon_heart_alt"></span></a>
                        <ul>
                            <li><b>Prod. Code</b> <span>{{content.scProdDetails.data.GetProdDetails.prod_id}}</span></li>
                            <li><b>Prod. Mark</b> <span>{{content.scProdDetails.data.GetProdDetails.prod_mark_id==1?'Veg':'Non-Veg'}}
                                    <!--<samp>Free pickup today</samp>-->
                                </span></li>
                            <li><b>Share on</b>
                                <div class="share">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-instagram"></i></a>
                                    <a href="#"><i class="fa fa-linkedin"></i></a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-12 col-md-6">
        <div class="product__details__tab">
            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#tabs-1" role="tab" aria-selected="true">Description</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#tabs-2" role="tab" aria-selected="false">Information</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#tabs-3" role="tab" aria-selected="false">Reviews <span>(1)</span></a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="tabs-1" role="tabpanel">
                    <div class="product__details__tab__desc">
                        <h6>Products Description</h6>
                        <p>{{varLanguage.value=='English'?content.scProdDetails.data.GetProdDetails.prod_desc_en:varLanguage.value=='Bengali'?content.scProdDetails.data.GetProdDetails.prod_desc_bn:varLanguage.value=='Hindi'?content.scProdDetails.data.GetProdDetails.prod_desc_hin:content.scProdDetails.data.GetProdDetails.prod_desc_en}}</p>
                        <p></p>
                    </div>
                </div>
                <div class="tab-pane" id="tabs-2" role="tabpanel">
                    <div class="product__details__tab__desc">
                        <h6>Products Infomation</h6>
                        <p></p>
                        <p></p>
                    </div>
                </div>
                <div class="tab-pane" id="tabs-3" role="tabpanel">
                    <h6 class="ab">Products Infomation</h6>
                    <div class="product__details__tab__desc row">

                        <input type="radio" name="rate" id="star-1">
                        <input type="radio" name="rate" id="star-2">
                        <input type="radio" name="rate" id="star-3">
                        <input type="radio" name="rate" id="star-4">
                        <input type="radio" name="rate" id="star-5">
                        <div class="content col-3 ">
                            <!--  <div class="outer">
                                <div class="emojis">
                                  <li class="slideImg"><img src="emojis/emoji-1.png" alt=""></li>
                                  <li><img src="emojis/emoji-2.png" alt=""></li>
                                  <li><img src="emojis/emoji-3.png" alt=""></li>
                                  <li><img src="emojis/emoji-4.png" alt=""></li>
                                  <li><img src="emojis/emoji-5.png" alt=""></li>
                                </div>
                              </div>-->
                            <div class="stars float-right">
                                <label for="star-1" class="star-1 fas fa-star"></label>
                                <label for="star-2" class="star-2 fas fa-star"></label>
                                <label for="star-3" class="star-3 fas fa-star"></label>
                                <label for="star-4" class="star-4 fas fa-star"></label>
                                <label for="star-5" class="star-5 fas fa-star"></label>
                            </div>
                        </div>
                        <span class="footer1 col-1 ">
                            <span class="text"></span>
                            <span class="numb"></span>
                        </span>
                    </div>
                    <div class="card-body tab-content border-0">
                        <div class="names">
                            <input type="text" class="firstname" placeholder="First name">
                            <input type="text" class="lastname" placeholder="Last name">
                        </div>
                        <div class="input">
                            <div class="inputbox">
                                <textarea type="text" class="reviewinp" placeholder="Write a review"></textarea>

                                <div class="submitbtn">
                                    <button class="submit">Submit Review</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="testimonial-box-container">
                        <div class="testimonial-box pb-0">
                            <!--top------------------------->
                            <div class="box-top">
                                <!--profile----->
                                <div class="profile">
                                    <!--img---->
                                    <div class="profile-img">
                                        <img src="https://cdn3.iconfinder.com/data/icons/avatars-15/64/_Ninja-2-512.png" />
                                    </div>
                                    <!--name-and-username-->
                                    <div class="name-user">
                                        <strong>username</strong>
                                        <span>@email</span>
                                    </div>
                                </div>
                                <!--reviews------>
                                <div class="reviews">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="far fa-star"></i>
                                    <!--Empty star-->
                                </div>
                            </div>
                            <!--Comments---------------------------------------->
                            <div class="client-comment">
                                <p class="mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem, quaerat quis? Provident temporibus architecto asperiores nobis maiores nisi a. Quae doloribus ipsum aliquam tenetur voluptates incidunt blanditiis sed atque cumque.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Product Details Section End -->

<!-- Related Product Section Begin -->
<section class="related-product">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title related__product__title">
                    <h2>Related Product</h2>
                </div>
            </div>
        </div>
        <div class="row" is="dmx-repeat" dmx-bind:repeat="scRelatedProd.data.GetRelatedProd.data" key="id" id="RelatedProd">
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="product__item">
                    <div class="product__item__pic set-bg">
                        <img class="featured__item__pic set-bg" dmx-bind:src="'https://secure.gravitto.com'+content.scRelatedProd.data.GetRelatedProd.data[$index].prod_img1" dmx-bind:alt="content.scRelatedProd.data.GetRelatedProd.data[$index].prod_name_en">
                        <ul class="product__item__pic__hover">
                            <li><a href="#"><i class="fa fa-heart"></i></a></li>
                            <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                            <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                        </ul>
                    </div>
                    <div class="product__item__text">
                        <h6><a dmx-bind:href="'/product-details/'+content.scRelatedProd.data.GetRelatedProd.data[$index].id+'/'+content.scRelatedProd.data.GetRelatedProd.data[$index].prod_name_en">{{varLanguage.value=='English'?content.scRelatedProd.data.GetRelatedProd.data[$index].prod_name_en:varLanguage.value=='Bengali'?content.scRelatedProd.data.GetRelatedProd.data[$index].prod_name_bn:varLanguage.value=='Hindi'?content.scRelatedProd.data.GetRelatedProd.data[$index].prod_name_hin:content.scRelatedProd.data.GetRelatedProd.data[$index].prod_name_en}}</a></h6>
                        <h5><i class="fa fa-rupee"></i>{{content.scRelatedProd.data.GetRelatedProd.data[$index].price}} <span class="text-muted ab text-monospace text-line-through"><i class="fa fa-rupee"></i>{{content.scRelatedProd.data.GetRelatedProd.data[$index].mrp}}</span></h5>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
<script src="assets/dist/Drift.js"></script>
<script>
    new Drift(document.querySelector(".drift-demo-trigger"), {
                paneContainer: document.querySelector(".detail"),
                inlinePane: 900,
                inlineOffsetY: -85,
                containInline: true,
                hoverBoundingBox: true,
              });
</script>