<!-- Wappler include head-page="layouts/main" fontawesome_5="cdn" bootstrap5="local" is="dmx-app" id="returnandcancellationpolicy" appConnect="local" -->
<meta name="ac:route" content="/return-and-cancellation-policy">
<h1 class="text-center">Return and Cancellation Policy</h1>
<p class="text-justify px-2 px-sm-5">Any Capitalized terms used but not defined herein shall have the meaning assigned to them under the Terms of Use which govern your use of our website www.gravitto.com (the “Website”) and our ‘’ application for mobile and handheld devices (the “App”). The Website and the App are jointly referred to as the “Platform”.</p>
<h5 class=" px-2 px-sm-5">Customer Cancellation</h5>
<p class="text-justify px-2 px-sm-5">As a general rule Buyer shall not be entitled to cancel Order once placed. Buyer may choose to cancel Order only within one-minute of the Order being placed. However, subject to Buyer’s previous cancellation history, Gravitto reserves the right to deny any refund to Buyer pursuant to a cancellation
    initiated by Buyer even if the same is within one-minute followed by suspension of account, as may be necessary in the sole discretion of Gravitto.</p>
<p class="text-justify px-2 px-sm-5">If Buyer cancels his/her Order after one minute of placing it, Gravitto shall have a right to collect a penalty of 100% of the Order amount for breach of contract terms as a compensation for the damages suffered by Gravitto, with a right to either not to refund the Order value in case Buyer’s Order is prepaid or recover from the Buyer’s subsequent Order in case his/her Order is postpaid, to compensate the Merchants and PDPs.</p>
<h5 class=" px-2 px-sm-5">Non-Customer Cancellation</h5>
<p class="text-justify px-2 px-sm-5">Gravitto reserves the right to collect a penalty for the Orders constrained to be cancelled by Gravitto for reasons not attributable to Gravitto, including but not limited to:</p>
<p class="text-justify px-2 px-sm-5">in the event if the address provided by Buyer is either wrong or falls outside the delivery zone;</p>
<p class="text-justify px-2 px-sm-5">failure to contact Buyer by phone or email at the time of delivering the Order booking;</p>
<p class="text-justify px-2 px-sm-5">failure to deliver Buyer Order due to lack of information, direction or authorization from Buyer at the time of delivery; or</p>
<p class="text-justify px-2 px-sm-5">unavailability of all the items ordered by Buyer at the time of booking the Order; or</p>
<p class="text-justify px-2 px-sm-5">unavailability of all the items ordered by Buyer at the time of booking the Order. However, in the unlikely event of an item in an Order being unavailable, Gravitto will contact the Buyer on the phone number provided to us at the time of placing the Order and inform Buyer of such unavailability. In such
    an event Buyer will be entitled to cancel the entire Order and shall be entitled to a refund to an amount upto 100% of the Order value.</p>
<p class="text-justify px-2 px-sm-5">In case of cancellations for the reasons attributable to Gravitto or the Merchant or PDP, Gravitto shall not collect any penalty from the Buyer.</p>
<p class="text-justify px-2 px-sm-5">Cancellation policy for Instamart/Meat stores/Supermarkets/Pet stores/Fruits and vegetables/Wellness essentials/Gourmet [&] Organic</p>
<p class="text-justify px-2 px-sm-5">The Orders placed by Buyers using the Platform are non-cancellable and non-refundable except if refund is requested under the following conditions –</p>
<p class="text-justify px-2 px-sm-5">If the Order could not be delivered within the estimated time while placing the order;</p>
<p class="text-justify px-2 px-sm-5">If the Order has not been picked by the PDP.</p>
<p class="text-justify px-2 px-sm-5">If the Merchant doesn't accept or cancels the Order due to reasons not attributable to Buyer, including but not limited to store being closed, non-availability of items, store cannot servóice online orders at that moment, store is overcrowded, etc.</p>
<p class="text-justify px-2 px-sm-5">If Gravitto cancels the Order due to reasons not attributable to Buyer, including but not limited to nonavailability of PDP, etc.</p>
<p class="text-justify px-2 px-sm-5">Gravitto reserves the right to look into the cancellation request of the Buyer and determine if such cancelation request falls under the conditions mentioned above. If Gravitto is satisfied that the request and same fulfills any of the aforesaid conditions, then Gravitto shall process the cancellation request and refund amounts to the Buyer.</p>
<h5 class=" px-2 px-sm-5">Refunds</h5>
<p class="text-justify px-2 px-sm-5">Buyer may be entitled to a refund for prepaid Orders. Gravitto retains the right to retain the penalty payable by the Buyer in Section I(2) from the amount refundable to him/her. The Buyer shall also be entitled to a refund of proportionate value in the event packaging of an item in an Order or the complete Order, is either tampered or damaged and the Buyer refuses to accept at the time of delivery for the said reason;</p>
<p class="text-justify px-2 px-sm-5">Buyer may be entitled to a refund upto 100% of the Order value if PDP fails to deliver the Order due to a cause attributable to either PDP or Gravitto , however such refunds will be assessed on a case to case basis by Gravitto.</p>
<p class="text-justify px-2 px-sm-5">Our decision on refunds shall be final and binding.</p>
<p class="text-justify px-2 px-sm-5">All refund amounts shall be credited to Buyer’s account as may be stipulated as per the payment mechanism of Buyer’s choice.</p>
<h5 class="text-center px-2 px-sm-5">***</h5>